{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
	<section id="sidebar">
          <p>
	    <a href="http://www.virginia.edu"><b>University&nbsp;of&nbsp;Virginia</b></a>
	    Spring&nbsp;2015<br>
	    <a href="http://www.cs.virginia.edu/evans/">David&nbsp;Evans</a>
	  </p>
	  <p>
	  <div class="separator"></div>
<h3>
<a href="https://www.google.com/calendar/embed?src=rmjagdrnmu3a9h2q5199lg4t28%40group.calendar.google.com&ctz=America/New_York">Calendar</a>
</h3>
<h3>
<a href="./pages/forum.html">Forum</a>
</h3>
<h3><a href="./pages/syllabus.html">Syllabus</a>
</h3>

	  <div class="separator"></div>
	  <h3>Projects</h3>
<ul>
<li> <a href="./pages/ps0.html">0: Registration</a>
<li> <a href="./pages/project1.html">1: Bitcoin Transactions</a>
</ul>

	  <div class="separator"></div>
	  <h3><A href="./pages/classes.html">Classes</a></h3>
<ul>
<li> &nbsp;<a href="./class-1-why-are-these-buildings-burning-down.html">1: Burning Down</a>
<li> &nbsp;<a href="./class-2-cryptography.html">2: Cryptography</a>
<li> &nbsp;<a href="./class-3-elliptic-curves.html">3: Elliptic Curves</a>
<li> &nbsp;<a href="./class-4-verifiably-random.html">4: Verifiably Random</a>
<li> &nbsp;<a href="./class-5-digicash.html">5: DigiCash</a>
<li> &nbsp;<a href="./class-6-proofs-of-work.html">6: Proofs of Work</a>
<li> &nbsp;<a href="./class-7-merkle-trees.html">7: Merkle Trees</a>
</ul>

<p><br></br></p>
<p><br></br></p>

<ul>
<li>
<a href="./pages/using-materials.html">Using These Materials</a>
</ul>

	</section>
</section>


<section id="mainbody">


<!--
<div id="calendar">
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=7ibtm6lnt88vl00h7a0e8n0bc4%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style=" border:solid 1px #777 " width="200" height="600" frameborder="0" scrolling="no">
</iframe>
</div>
-->

{% if articles %}
        {% set num = 1 %}
        {% for article in (articles_page.object_list if articles_page else articles) %}

        <div class="article">
                {% if num <= 4 %} 
                   <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                   <div class="well small">{% include "article_infos.html" %}</div>
                   <div class="content">{{ article.content }}</div>
{% if DISQUS_SITENAME %}
<div class="commentstag"><a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" {% if not DISQUS_NO_ID %}data-disqus-identifier="{{ article.date|strftime('%Y-%m-') ~ article.slug if DISQUS_ID_PREFIX_SLUG else article.slug }}"{% endif %}>Comments</a></div>{% endif %}

                   <hr />
                {% else %}
                   <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> ({{ article.locale_date }})<br></br>

 <!--                  <div class="summary">
                        <a class="btn primary xsmall" href="{{ SITEURL }}/{{ article.url }}">More...</a>                      
                   </div>-->
                {% endif %}
                {% set num = num + 1 %}
        </div>
        {% endfor %}
        <hr />
{% endif %}

        {% if articles_page and articles_paginator.num_pages > 1 %}
        <div class="pagination">
        <ul>
                {% if articles_page.has_previous() %}
                        {% set num = articles_page.previous_page_number() %}
                        <li class="prev"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">&larr; Previous</a></li>
                {% else %}
                        <li class="prev disabled"><a href="#">&larr; Previous</a></li>
                {% endif %}
                {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
                        <li class="{{ 'active' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
                {% endfor %}
                {% if articles_page.has_next() %}
                        <li class="next"><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Next &rarr;</a></li>
                {% else %}
                        <li class="next disabled"><a href="#">&rarr; Next</a></li>
                {% endif %}
        </ul>
        </div>

{% else %}
        {% if PAGES %}
                <section id="content" class="body">
                <h1>Pages</h1>

                {% for page in PAGES %}
                        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                </section>
        {% endif %}
{% endif %}
{% endblock content %}
</section>
